@model MainFormModel;
@{
    ViewData["Title"] = "Home Page";
    Kurzy data = ViewBag.kurzy;
}

<form asp-action="Index" method="post">
    <div asp-validation-summary="All" class="bg-danger"></div>

    <label asp-for="Jmeno" class="form-label">Jmeno</label>
    <input asp-for="Jmeno" class="form-control"/>

    <button type="submit" class="btn btn-primary">Send</button>

</form>
